In [ ]:
# Write a Python program to create a list, a dictionary, and a set. Perform basic operations like adding, removing, and modifying elements.

In [405]:
# list string
NAME=['PIYUSH','AYUSH','TANYA','KANAK','KHUSHI','KABIR']
NAME.pop(1)
print("pop the name ",NAME)

NAME.remove('TANYA')
print("remove the TANYA name",NAME)

NAME.sort()
print("sort the name in alphabetical",NAME)

NAME.append('chetan')
print("add the name",NAME)

NAME.clear()
print("clear the list ",NAME)

NAME.extend('rahul')
print("extand the perticular name",NAME)


print(len(NAME))
print(type(NAME))

pop the name  ['PIYUSH', 'TANYA', 'KANAK', 'KHUSHI', 'KABIR']
remove the TANYA name ['PIYUSH', 'KANAK', 'KHUSHI', 'KABIR']
sort the name in alphabetical ['KABIR', 'KANAK', 'KHUSHI', 'PIYUSH']
add the name ['KABIR', 'KANAK', 'KHUSHI', 'PIYUSH', 'chetan']
clear the list  []
extand the perticular name ['r', 'a', 'h', 'u', 'l']
5
<class 'list'>

In [575]:
# list number
roll=[1,6,57,88,43,98,56,6,76,7,6,7]

print("maximun value=",max(roll))
print("minimum value=",min(roll))
roll.append(11)
print("add the number=",roll)
print("length list=",len(roll))
roll.pop(1)
print("pop the element=",roll)
roll.sort()
print("sort the number=",roll)
print("check the type=",type(roll))

maximun value= 98
minimum value= 1
add the number= [1, 6, 57, 88, 43, 98, 56, 6, 76, 7, 6, 7, 11]
length list= 13
pop the element= [1, 57, 88, 43, 98, 56, 6, 76, 7, 6, 7, 11]
sort the number= [1, 6, 6, 7, 7, 11, 43, 56, 57, 76, 88, 98]
check the type= <class 'list'>

In [595]:
# dictinory
# distiory syntax is {}
dict_1={"name":"piyush Arora",
        "age":22,
        "internship-Company":"Main flow services and technology Pvt.Ltd" ,
        "Duration":"4weaks"}

print("print dictionary==",dict_1)
print("\n")
print("check the type ==",type(dict_1))
print("\n")
print("dictionary length==",len(dict_1))
print("\n")
print("dictionary show particular columns==",dict_1["name"],dict_1["Duration"])
print("\n")
a=dict_1.keys()
print("dictionary keys==",a)
print("\n")
b=dict_1.values()
print("dictionary values==",b)
print("\n")
c=dict_1.items()
print("dictionary items==",c)
print("\n")
dict_1.update({"Duration":"8weaks"})
print("update the dictionary ",dict_1)
print("\n")
del dict_1["age"]
print("del the perticular column",dict_1)
print("\n")
dict_1.clear()
print("clear dictionary",dict_1)

print dictionary== {'name': 'piyush Arora', 'age': 22, 'internship-Company': 'Main flow services and technology Pvt.Ltd', 'Duration': '4weaks'}


check the type == <class 'dict'>


dictionary length== 4


dictionary show particular columns== piyush Arora 4weaks


dictionary keys== dict_keys(['name', 'age', 'internship-Company', 'Duration'])


dictionary values== dict_values(['piyush Arora', 22, 'Main flow services and technology Pvt.Ltd', '4weaks'])


dictionary items== dict_items([('name', 'piyush Arora'), ('age', 22), ('internship-Company', 'Main flow services and technology Pvt.Ltd'), ('Duration', '4weaks')])


update the dictionary  {'name': 'piyush Arora', 'age': 22, 'internship-Company': 'Main flow services and technology Pvt.Ltd', 'Duration': '8weaks'}


del the perticular column {'name': 'piyush Arora', 'internship-Company': 'Main flow services and technology Pvt.Ltd', 'Duration': '8weaks'}


clear dictionary {}

In [609]:
#set strings
set1={'PIYUSH','AYUSH','TANYA','KANAK','KHUSHI','Kartik'}
print(set1)
print("check type=",type(set1))
print("check length=",len(set1))
set1.remove("AYUSH")
print("remove name=",set1)
set1.add("RAHUL")
print("add the name",set1)
set1.pop()
print(set1)

{'Kartik', 'KANAK', 'PIYUSH', 'TANYA', 'KHUSHI', 'AYUSH'}
check type= <class 'set'>
check length= 6
remove name= {'Kartik', 'KANAK', 'PIYUSH', 'TANYA', 'KHUSHI'}
add the name {'Kartik', 'KANAK', 'RAHUL', 'PIYUSH', 'TANYA', 'KHUSHI'}
{'KANAK', 'RAHUL', 'PIYUSH', 'TANYA', 'KHUSHI'}

In [593]:
set1.clear()
print("clear the set",set1)

clear the set set()

In [591]:
# set in number
snum={1,4432,23,43,5,6,7,82,9,3340}
print(snum)
print("check type=",type(snum))
print("check length",len(snum))
print("min value",min(snum))
print("max value",max(snum)) 
snum.add(5)
print("add the number",snum)

{1, 5, 6, 7, 9, 43, 3340, 4432, 82, 23}
check type= <class 'set'>
check length 10
min value 1
max value 4432
add the number {1, 5, 6, 7, 9, 43, 3340, 4432, 82, 23}